* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    height: 100vh;
    background: radial-gradient(#1c1c1c, #0e0e0e);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top,
.bottom {
    width: 100%;
    height: 50vh;
}

.top {
    position: absolute;
    top: 0;
    overflow: hidden;
}

.top h1 {
    position: absolute;
    left: 50%;
    bottom: -214px;
    transform: translateX(-50%);
    text-shadow: 0px 0px 1px red;
    animation: error_top_animation .8s linear infinite;
}

.bottom {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.bottom h1 {
    position: absolute;
    left: 50%;
    top: -195px;
    transform: translateX(-50%);
    animation: error_bottom_animation .8s linear infinite;
}

h1 {
    font-family: sans-serif;
    font-size: 356px;
    color: #fff;
}

.text1 {
    font-family: sans-serif;
    font-size: 60px;
    color: #fff;
    transform: translateY(-220%);
}

.homebox {
    position: fixed;
    font-family: sans-serif;
    font-size: 20pxpx;
    transform: translateY(25vh)
}

.homebox a {
    text-decoration: none;
    color: #fff;
    background: #331919;
    padding: 12px 24px;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.4;
}

.homebox a:hover {
    background: #331919;
}