* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    height: 100vh;
    background: radial-gradient(#1c1c1c, #0e0e0e);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top,
.bottom {
    width: 95%;
    height: 50vh;
    transform: translateX(-60vh);
    justify-content: center;
    align-items: center;
}


.top {
    position: absolute;
    top: 0;
    overflow: hidden;
}

.top h1 {
    position: absolute;
    left: 50%;
    bottom: -214px;
    transform: translateX(-50%);
    text-shadow: 0px 0px 1px red;
    animation: error_top_animation .8s linear infinite;
}

.bottom {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.bottom h1 {
    position: absolute;
    left: 50%;
    top: -195px;
    transform: translateX(-50%);
    animation: error_bottom_animation .8s linear infinite;
}

h1 {
    font-family: sans-serif;
    font-size: 356px;
    color: #fff;
}
.textbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px rgb(197, 13, 53);
    
}

.text1 {
    left: 50px;
    top: -240px;
    position: relative;
    font-family: sans-serif;
    font-size: 60px;
    color: #fff;
}

.container {
    width: 100%;
    height: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    top: 220px;
    background-color: #0e0e0e;
    position: relative;
    display: inline-block;
    font-size: 25px;
    color: #fff;
    border-radius: 5px;
    padding: 25px;
    border: none;
    overflow: hidden;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 3s;
}
.button:hover {
    text-shadow: 0 0 10px blue, 0 0 20px blue,
    0 0 30px red, 0 0 35px red, 0 0 40px red,
     0 0 45px red;
}

.button1 {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent,
    rgb(255, 0, 85),rgb(255, 0, 55),rgb(252, 0, 34),rgb(255, 0, 13));
    animation: anime 2s linear  infinite;
    transition-delay: s;
}

.button2 {
    position: absolute;
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,
    rgb(255, 0, 85),rgb(255, 0, 55),rgb(252, 0, 34),rgb(255, 0, 13));
    animation: anime2 2s linear infinite;
    transition-delay: 7s;
}

.button3 {
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,
    rgb(255, 0, 85),rgb(255, 0, 55),rgb(252, 0, 34),rgb(255, 0, 13));
    animation: anime3 2s infinite linear;
}

.button4 {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent,
    rgb(255, 0, 85),rgb(255, 0, 55),rgb(252, 0, 34),rgb(255, 0, 13));
    animation: anime4 2s linear infinite;
}